<h1><%= @article.title %></h1>
<p>
    Tags:
    <% @article.tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag) %>
    <% end %>
</p>
<p><%= @article.body %></p>

<%= link_to "edit", edit_article_path(@article) %>

	<%# While most browsers support all four verbs, GET, PUT, POST, and DELETE, HTML links are always GET, and HTML forms only support GET and POST. %>
<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>
	<%# "method: :delete" is Rails’ solution, through some JavaScript tricks, to pretend that clicking this triggers a DELETE %>
	<%# "data: {something}" runs JavaScript code. The "Cancel" button will stop the request %>

<h3>Comments (<%= @article.comments.size %>)</h3>
	<%# This renders a partial named "comment" and that we want to do it once for each element in the collection @article.comments %>
<%= render partial: 'articles/comment', collection: @article.comments %>

<%= render partial: 'comments/form' %>

<p>
    <%= link_to "<< Back to the Articles List", root_path %>
</p>